.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

li {
  cursor: pointer;
}

li:active {
  font-weight: bold;
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 5px;
}

.tableHeader {
  text-align: right;
}

.main-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.navbar-container {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.content-flex-container {
  display: flex;
  width: 80%;
  margin-left: -5px;
}

.line-chart-flex {
  margin-right: 10px;
}

.line-chart-flex,
.bar-chart-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid;
  align-items: center;
}


.table-container {
  width: 100%;
  margin-top: 15%;
}
